@import "tailwindcss";

@font-face {
  font-family: 'SourceSans3';
  src: url("../fonts/SourceSans3.ttf") format("truetype"), url("../fonts/SourceSans3.woff2") format("woff2");
}

@font-face {
  font-family: 'SpaceMono'; 
  font-weight: 400;
  src: url("../fonts/SpaceMono.ttf") format("truetype"), url("../fonts/SpaceMono.woff2") format("woff2");
}

@theme {
  --color-brand-50: #faf6ec;
  --color-brand-100: #f3e9ce;
  --color-brand-200: #e9d39f;
  --color-brand-300: #dcb468;
  --color-brand-400: #d0983d;
  --color-brand-500: #c18431;
  --color-brand-600: #a66628;
  --color-brand-700: #854b23;
  --color-brand-800: #6f3e24;
  --color-brand-900: #603523;
  --color-brand-950: #371a11;

  --color-status-pending: #CE73EF;
  --color-status-sent: #3287DC;
  --color-status-inprogress: #E6C000;
  --color-status-completed: #1CC050;
  --color-status-rejected: #EA1776;

  --color-priority-low: #0ECF86;
  --color-priority-medium: #E3CE34;
  --color-priority-high: #FF7EBC;

  --font-sans: 'SourceSans3', Arial, Helvetica, sans-serif;
  --font-mono: 'SpaceMono', monospace;
}

/* Global stylings  */

.c-icon-spinner__svg--1 {
  animation: spinner--1 3s linear infinite;
}

.c-icon-spinner__svg--2 {
  animation: spinner--2 4s linear infinite;
}

@keyframes spinner--1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinner--2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}